
body {
  padding-bottom: 40px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.scicomp-rclear {
  clear:right;
}

.well h3 {
  margin-top:0;
}

#logodiv {
  float:left;
  margin-right:0.5em;
  margin-top:-5px;
  margin-left:-3px;

  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.main-content {
  margin-top: 1ex;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.nonfrontpage.container {
  padding-top:80px;
}

footer {
  background-color: #eee;
  padding-top: 4ex;
  margin-top: 40px;
  padding-bottom: 4ex;
  padding-left: 10px;
  padding-right: 10px;
}

/* CUSTOMIZE THE top image
-------------------------------------------------- */
.topimage {
    background: url(../images/siebel-center.jpeg) no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

.toptitle {
  font-size:60px;
  font-weight:bold;
  height:600px;
  padding-top:350px;
  z-index: 10;
  color: #fff;
  -moz-text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  -webkit-text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.apply {
  margin-top: 200px;
}

.question {
  font-size: 300px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* ROOT PAGE
-------------------------------------------------- */

div.carousel {
  margin-bottom:20px;
}

p.who-we-are {
  margin-bottom:0px;
}

/* PEOPLE PAGE
-------------------------------------------------- */

.multicol-list {
  -moz-column-count:3;
  -moz-padding-start:0px;
  -moz-padding-end:0px;

  -webkit-column-count:3;
  -webkit-padding-start:0px;
  -webkit-padding-end:0px;
}

.faculty-row {
  margin-top:4ex;
  margin-bottom:4ex;
}

.grad-list {
  font-size: large;
  line-height: 150%;
}

.grad-list a:link {
  color:#5a5a5a;
}

.grad-list a:visited {
  color:#5a5a5a;
}

.faculty-list a:link {
  color:#5a5a5a;
}

.faculty-list a:visited {
  color:#5a5a5a;
}

.faculty-name {
  font-size: large;
  padding-top: 1.5ex;
  padding-bottom: 1ex;
}

/* COURSE PAGE
-------------------------------------------------- */

.course-listing h2 {
  margin-top:0;
}

h1.course-header {
  margin-bottom:2ex;
}

