{% extends "_layout.html" %}
{% set active_page = "Home" %}
{% block title %}
Scientific Computing @ Illinois
{% endblock %}
{% block head %}
    <link href="css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 main-scicomp">
        <h1 class="mt-5">Scientific Computing @ Illinois</h1>
        <p>
        We are the Scientific Computing and Numerical Analysis group in the
        <a href="http://www.cs.illinois.edu">Department of Computer Science</a>
        at the
        <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-2">
        <a class="btn btn-scicomp" href="people.html">Who we are</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-scicomp" href="study.html">Get a PhD</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-scicomp" href="courses.html">Take a Course</a>
      </div>
    </div>
  </div>
{% endblock %}
