<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | Courses
</%block>

<%block name="content">
<%
SOURCES.insert(0, ("data", "courses.yml"))

import yaml
from codecs import open
with open("courses.yml", "rt", encoding="utf-8") as inf:
  courses = yaml.load(inf)
%>

  %for course in courses:
    %if not course["title"]:
    <% continue %>
    %endif
    <h2>${course["number"]}: ${course["title"]}</h2>

    <p>Offered ${course["frequency"]}.</p>

    %if course.get("description"):
    <p>${course["description"]}</p>
    %endif

    %if course.get("editions"):
      <ul>
        %for edition in course["editions"]:
          <li>
            %if not edition.get("when"):
              <% continue %>
            %endif
            %if edition.get("url"):
            <a href="${edition["url"]}">${edition["when"]}</a>
            %else:
            ${edition["when"]}
            %endif
            %if edition.get("description"):
              : ${edition["description"]}
            %endif
            %if edition.get("who"):
              (${edition["who"]})
            %endif
          </li>
        %endfor
      </ul>
    %endif
  %endfor
</%block>
