## Edit people.yml in this directory to add people! :)

<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | People
</%block>

<%block name="content">

<%

SOURCES.insert(0, ("data", "people.yml"))

import yaml
from codecs import open
with open("people.yml", "rt", encoding="utf-8") as inf:
  people = yaml.load(inf)

%>

<%def name="col_list(who)">
  <% counter = 0 %>
  %for p in who:
    %if counter == 0:
      <div class="row">
    %elif counter % 3 == 0:
      </div>
      <div class="row">
    %endif
    <% counter += 1 %>
    <div class="col-md-4">
      %if p.get("image"):
        <div style="height: 300px">
          <img src="images/people/${p["image"]}" alt="${p["name"]}" height="300px" class="img-rounded">
        </div>
      %endif
      <h4>
        ${p["name"]}
        %if p["category"] == "emeritus":
        (Emeritus)
        %endif
        %if p.get("url"):
          %if p.get("category")=="faculty" or p.get("category")=="emeritus":
            <a class="btn btn-default" href="${p["url"]}" role="button">
              Web page
             <i class="fa fa-external-link"></i>
            </a>
          %endif
          %if p.get("category") == "grad":
            <a href="${p["url"]}"><i class="fa fa-external-link"></i></a>
          %endif
        %endif
      </h4>
      %if p.get("blurb"):
        <p>${p["blurb"]}</p>
      %endif
    </div>
  %endfor
  </div>
</%def>

<h2>Faculty</h2>

${col_list([p for p in people if p["category"] in ["faculty", "emeritus"]])}

<h2>Graduate Students</h2>

${col_list([p for p in people if p["category"] == "grad"])}

<h2>Alumni</h2>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "alumni"]:
    <li>
    %if p.get("url"):
      <a href="${p["url"]}">${p["name"]}</a>
    %else:
      ${p["name"]}
    %endif
    (${p["degree_what"]} ${p["degree_year"]})
    </li>
  %endfor
</ul>

<h2>Former Faculty and Postdoctoral Research Associates</h2>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "former"]:
    <li>
    %if p.get("url"):
      <a href="${p["url"]}">${p["name"]}</a>
    %else:
      ${p["name"]}
    %endif
    </li>
  %endfor
</ul>

</%block>
