## Edit people.yml in this directory to add people! :)

<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | People
</%block>

<%block name="content">

<%

import yaml
from codecs import open
with open("people.yml", "rt", encoding="utf-8") as inf:
  people = yaml.load(inf)

%>

<%def name="col_list(who)">
  <% counter = 0 %>
  %for p in who:
    %if counter == 0:
      <div class="row">
    %elif counter % 4 == 0:
      </div>
      <div class="row">
    %endif
    <% counter += 1 %>
    <div class="col-md-3">
      %if p.get("image"):
        <div style="height: 300px">
          <img src="images/people/${p["image"]}" alt="${p["name"]}" width="80%" >
        </div>
      %endif
      <h4>
        ${p["name"]}
        %if p["category"] == "emeritus":
        (Emeritus)
        %endif
      </h4>
      %if p.get("blurb"):
        <p>${p["blurb"]}</p>
      %endif
      %if p.get("url"):
        <p><a class="btn btn-default" href="${p["url"]}" role="button">Web page &raquo;</a></p>
      %endif
    </div>
  %endfor
  </div>
</%def>

<h2>Faculty</h2>

${col_list([p for p in people if p["category"] in ["faculty", "emeritus"]])}

<h2>Graduate Students</h2>

${col_list([p for p in people if p["category"] == "grad"])}

<h2>Alumni</h2>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "alumni"]:
    %if p.get("url"):
      <li><a href="${p["url"]}">${p["name"]}</a></li>
    %else:
      <li>${p["name"]}</li>
    %endif
  %endfor
</ul>

<h2>Former Faculty and Postdoctoral Research Associates</h2>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "former"]:
    %if p.get("url"):
      <li><a href="${p["url"]}">${p["name"]}</a></li>
    %else:
      <li>${p["name"]}</li>
    %endif
  %endfor
</ul>

</%block>
